.edit-deck {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2% 5%;
    align-items: center;

    @media (orientation: landscape) and (max-width: 768px) {
        flex-direction: row;
    }

    div {
        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            .field {
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                text-transform: uppercase;
                font-weight: bold;
                margin: 0.5% 0;

                label {
                    font-family: monospace;
                    line-height: 1.2;
                }

                input {
                    line-height: 1.1;
                    font-family: inherit;
                    outline-color: rgb(79, 148, 172);
                    width: 100px;
                }
            }

            button {
                align-self: stretch;
                font-size: 1.5rem;
                line-height: 1.2;
                text-transform: uppercase;
                min-width: 50%;
                border: 1px solid #000;
                background-color: rgb(79, 148, 172);
                margin: 0.5% 0;
                outline: none;
            }

        }
    }

    .error-message {
        color: red;
        font-size: 1.1rem;
        height: 20px;
        text-align: center;
    }

    ul {
        align-self: stretch;
        background-color: whitesmoke;
        flex-grow: 1;
        border: 1px solid #000;
        list-style: none;
        margin: 0 2%;
        height: 100%;
        overflow-y: scroll;

        &::-webkit-scrollbar-track {
            border-left: 1px solid #000;
            background-color: whitesmoke
        }

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: black;
        }

        li {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            padding: 0.5%;
            border-bottom: 1px dashed #000;

            &:last-child {
                border-bottom: none;

            }

            p {
                overflow: hidden;
                flex-grow: 1;
                word-wrap: break-word;
            }

            button {
                background-color: #ccc;
                color: #000;
                border: 1px solid #000;
                font-size: 1.2rem;
                margin-left: 5px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                outline: none;
            }
        }
    }
}